<div class="footer-bg">
  <div class="footer-newsletter">
    <div>
      <h2>Đăng ký nhận thông tin từ DANAHOMES</h2>
      <p>Chúng tôi sẽ gửi bạn những thông tin bất động sản mới nhất</p>
    </div>
    <div class="newsletter-form">
      <input type="email" placeholder="Nhập địa chỉ email của bạn..." />
      <button><i class="fa fa-paper-plane"></i> Đăng ký</button>
    </div>
  </div>
  <hr />
  <div class="footer-links">
    <div>
      <h3>LOẠI BẤT ĐỘNG SẢN</h3>
      <ul>
        <li>Căn hộ</li>
        <li>Đất nền</li>
        <li>Nhà phố</li>
        <li>Biệt tự</li>
        <li>Mặt bằng</li>
      </ul>
    </div>
    <div>
      <h3>BẤT ĐỘNG SẢN KHU VỰC ĐÀ NẴNG</h3>
      <ul>
        <li>Hải Châu</li>
        <li>Sơn Trà</li>
        <li>Ngũ Hành Sơn</li>
        <li>Cẩm Lệ</li>
        <li>Hoà Xuân - Nam Hoà Xuân</li>
      </ul>
    </div>
    <div>
      <h3>DỊCH VỤ & TƯ VẤN</h3>
      <ul>
        <li>Tư vấn mua ở - đầu tư</li>
        <li>Hỗ trợ pháp lý, sổ đỏ</li>
        <li>Tư vấn vay ngân hàng</li>
        <li>Quản lý & cho thuê bất động sản</li>
        <li>Định giá & so sánh thị trường</li>
      </ul>
    </div>
    <div>
      <h3>VỀ CHÚNG TÔI</h3>
      <ul>
        <li>Giới thiệu</li>
        <li>Dự án nổi bật</li>
        <li>Tin tức & sự kiện</li>
        <li>Liên hệ: Mr.Nguyên 034.99999.33</li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="footer-bottom">
    <div class="footer-brand">
      <div class="logo">
        <img src="../../../assets/photos/logo-landscape-2.png" alt="" width="200px" />
      </div>
      <div class="contact" *ngIf="companyInfo">
        <div>
          <i class="fa fa-map-marker"></i> Địa chỉ: {{ companyInfo.address }}
        </div>
        <div><i class="fa fa-phone"></i> Hotline: {{ companyInfo.hotline }}</div>
        <div>
          <i class="fa fa-envelope"></i> Email: {{ companyInfo.email }}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="copyright-content">
      <div class="copyright-text">
        <span>© 2024 DANAHOME</span>
        <span class="divider">|</span>
        <span>Phát triển bởi Trung tâm công nghệ HRS</span>
      </div>
      <div class="footer-social" *ngIf="companyInfo">
        <span>Kết nối với chúng tôi:</span>
        <div class="social-icons">
          <a [href]="companyInfo.facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a [href]="companyInfo.twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a [href]="companyInfo.google" target="_blank"><i class="fa-brands fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
