<div class="footer-bg">
  <div class="footer-newsletter">
    <div>
      <h2>Đăng ký nhận thông tin từ DANAHOMES</h2>
      <p>Chúng tôi sẽ gửi bạn những thông tin bất động sản mới nhất</p>
    </div>
    <div class="newsletter-form">
      <input type="email" placeholder="Nhập địa chỉ email của bạn..." />
      <button><i class="fa fa-paper-plane"></i> Đăng ký</button>
    </div>
  </div>
  <hr />
  <div class="footer-links">
    <div>
      <h3>BẤT ĐỘNG SẢN HÀ NỘI</h3>
      <ul>
        <li>Trang chủ</li>
        <li>Giới thiệu</li>
        <li>Sản phẩm</li>
        <li>Tin tức</li>
        <li>Liên hệ</li>
      </ul>
    </div>
    <div>
      <h3>BẤT ĐỘNG SẢN TP.HCM</h3>
      <ul>
        <li>Trang chủ</li>
        <li>Giới thiệu</li>
        <li>Sản phẩm</li>
        <li>Tin tức</li>
        <li>Liên hệ</li>
      </ul>
    </div>
    <div>
      <h3>MUA BÁN BẤT ĐỘNG SẢN</h3>
      <ul>
        <li>Trang chủ</li>
        <li>Giới thiệu</li>
        <li>Sản phẩm</li>
        <li>Tin tức</li>
        <li>Liên hệ</li>
      </ul>
    </div>
    <div>
      <h3>CHO THUÊ BẤT ĐỘNG SẢN</h3>
      <ul>
        <li>Trang chủ</li>
        <li>Giới thiệu</li>
        <li>Sản phẩm</li>
        <li>Tin tức</li>
        <li>Liên hệ</li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="footer-bottom">
    <div class="footer-brand">
      <div class="logo">
        <img src="../../../assets/photos/logo-landscape-2.png" alt="" width="200px" />
      </div>
      <div class="contact">
        <div>
          <i class="fa fa-map-marker"></i> Địa chỉ: Tầng 8 Ladeco, 266 Đội Cấn,
          Hà Nội
        </div>
        <div><i class="fa fa-phone"></i> Hotline: 1900 6750</div>
        <div>
          <i class="fa fa-envelope"></i> Email: awesome160916&#64;gmail.com
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="copyright-content">
      <div class="copyright-text">
        <span>© 2024 DANAHOME</span>
        <span class="divider">|</span>
        <span>Phát triển bởi Trung tâm công nghệ HRS</span>
      </div>
      <div class="footer-social">
        <span>Kết nối với chúng tôi:</span>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
