<header class="main-header">
  <div class="header-content container">
    <div class="logo">
      <a routerLink="/">
        <img
          src="../../../assets/photos/logo-landscape-1.png"
          alt="Logo"
        />
      </a>
    </div>
    <div class="mobile-menu-toggle" (click)="toggleMobileMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="right-group">
      <nav class="nav-links">
        <ul>
          <li><a routerLink="/">Trang chủ</a></li>
          <li><a routerLink="/about">Giới thiệu</a></li>
          <li>
            <a href="/products">Sản phẩm</a>
            <div class="dropdown-menu">
              <ul>
                <li><a [routerLink]="['/products']">Tất cả sản phẩm</a></li>
                <li *ngFor="let category of categories">
                  <a [routerLink]="['/products']" [queryParams]="{category: category.id}">
                    <i [class]="category.icon"></i> {{ category.name }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li><a routerLink="/news">Tin tức</a></li>
          <li><a routerLink="/contact">Liên hệ</a></li>
        </ul>
      </nav>
      <a href="#" class="contact-buttons">
        <i class="fa-solid fa-phone-volume"></i> Liên hệ tư vấn
      </a>
      <div class="language-selector" (click)="toggleLanguageDropdown($event)">
        <i class="fa-solid fa-language"></i>
        <span>{{ getCurrentLanguageName() }}</span>
        <i class="fa-solid fa-chevron-down"></i>
        <div class="language-dropdown" [class.show]="isLanguageDropdownOpen">
          <div class="language-item" *ngFor="let lang of languages" (click)="changeLanguage(lang.code, $event)">
            {{ lang.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu" [class.active]="isMobileMenuOpen">
    <div class="mobile-menu-header">
      <div class="logo">
        <a routerLink="/" (click)="toggleMobileMenu()">
          <img
            src="../../../assets/photos/logo-landscape-1.png"
            alt="Logo"
          />
        </a>
      </div>
      <div class="close-menu" (click)="toggleMobileMenu()">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <nav class="mobile-nav">
      <ul>
        <li><a routerLink="/" (click)="toggleMobileMenu()">Trang chủ</a></li>
        <li><a routerLink="/about" (click)="toggleMobileMenu()">Giới thiệu</a></li>
        <li class="mobile-dropdown" [class.active]="activeDropdown === 'products'">
          <a href="javascript:void(0)" (click)="toggleDropdown('products')">
            Sản phẩm <i class="fa-solid fa-chevron-down"></i>
          </a>
          <div class="mobile-dropdown-menu" [class.active]="activeDropdown === 'products'">
            <ul>
              <li><a [routerLink]="['/products']" (click)="toggleMobileMenu()">Tất cả sản phẩm</a></li>
              <li *ngFor="let category of categories">
                <a [routerLink]="['/products']" [queryParams]="{category: category.id}" (click)="toggleMobileMenu()">
                  <i [class]="category.icon"></i> {{ category.name }}
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li><a routerLink="/news" (click)="toggleMobileMenu()">Tin tức</a></li>
        <li><a routerLink="/contact" (click)="toggleMobileMenu()">Liên hệ</a></li>
      </ul>
    </nav>
    <a href="#" class="mobile-contact-button" (click)="toggleMobileMenu()">
      <i class="fa-solid fa-phone-volume"></i> Liên hệ tư vấn
    </a>
    <div class="mobile-language-selector">
      <div id="google_translate_element"></div>
    </div>
  </div>
</header>
